<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.0"?>

<!--
-->

<plugin>

   <extension point="org.eclipse.emf.ecore.generated_package">
      <!-- @generated DSM-E3 -->
      <package
            uri="Practica6"
            class="Practica6.Practica6Package"
            genModel="model/DSM-E3.genmodel"/>
   </extension>

</plugin>
